{% extends 'mysite/existing-employee-dashboard/existing-employee-main.html' %}
{% load static %}
{% block content %}
              <div class="wrapper-data">
          <div class="row">
          {% if all_posts %}
        
          {% for i in all_posts %}
            <div class="col-8 left-data">
             
              <div class="post-box">
                <div class="box-widget">
                  <div class="box-header with-border">
                    <div class="user-block">
                      <img class="img-circle" src="{% static 'mysite/images/avatar.png' %}">
                      
                      <span class="username"><a href="#">{{ i.user_name }}</a></span>
                      <span class="description">Shared at -  {{ i.time_stamp }}</span>
                    </div>
                  </div>
                </div>
                <p>Title:  {{ i.title }}</p>
                <div class="box-body">
                {% if i.file %}
                  <img class="img-fluid pad" src="/media/{{ i.file }}" alt="Photo">
                {% endif %}                  
                  <p>Description: {{ i.description }}</p>
              </div>

            </div>
            {% endfor %}
            {% else %}
                <p>No Posts Right Now.</p>
                {% endif %}




<!-- 
            <div class="col-4 right-data">
                <div class="post-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Your Suggestions</h3>  
                      </div>
                    <div class="mutual">
                      <div class="mutual-inner">
                          <div class="part1">
                            <img src="{% static 'mysite/images/avatar.png' %}" />
                          </div>
                          <div class="part2">
                            <h1 class="name">
                              Ajay Rahana
                            </h1>
                            <h1 class="dtl">
                              273 Mutual Friends
                            </h1>
                          </div>
                          <div class="part3">
                              <button type="button" class="btn btn-nav">Follow</button>
                          </div>
                      </div>

                      <div class="mutual-inner">
                          <div class="part1">
                            <img src="{% static 'mysite/images/avatar.png' %}" />
                          </div>
                          <div class="part2">
                            <h1 class="name">
                              Ajay Rahana
                            </h1>
                            <h1 class="dtl">
                              273 Mutual Friends
                            </h1>
                          </div>
                          <div class="part3">
                              <button type="button" class="btn btn-nav">Follow</button>
                          </div>
                      </div>

                      <div class="mutual-inner">
                          <div class="part1">
                            <img src="{% static 'mysite/images/avatar.png' %}" />
                          </div>
                          <div class="part2">
                            <h1 class="name">
                              Ajay Rahana
                            </h1>
                            <h1 class="dtl">
                              273 Mutual Friends
                            </h1>
                          </div>
                          <div class="part3">
                              <button type="button" class="btn btn-nav">Follow</button>
                          </div>
                      </div>

                      <div class="mutual-inner">
                          <div class="part1">
                            <img src="{% static 'mysite/images/avatar.png' %}" />
                          </div>
                          <div class="part2">
                            <h1 class="name">
                              Ajay Rahana
                            </h1>
                            <h1 class="dtl">
                              273 Mutual Friends
                            </h1>
                          </div>
                          <div class="part3">
                            <button type="button" class="btn btn-nav">Follow</button>
                          </div>
                      </div>

                    </div>
                </div>
 -->



            </div>

          </div>
        </div>



    </div>

    


  </div>

</section>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>

</body>
</html>
{% endblock %}


