{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teen TechPreneur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
</head>
<body>

<section class="login-box">
  <div class="left-part">
    <div class="left-inner">
        <div class="top-logo">
            <a class="" href="#">
                <img src="{% static 'mysite/images/footer-logo.png' %}">
            </a>
        </div>
        <h1 class="hdg">Register as Existing Employee</h1>
        <p class="des">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus</p>
        <img class="info-img" src="{% static 'mysite/images/entrepreneur.png' %}" />
    </div>
  </div>

  <div class="right-part">
    <div class="right-inner">
        <div class="top-logo">
            <a class="" href="#">
                <img src="{% static 'mysite/images/logo.png' %}">
            </a>
        </div>


        <div class="signup-form">

            <form role="form" method="POST" action="{% url 'mysite:employee_registration' %}">{% csrf_token %}

                <div class="row">

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
                      <p id="first_name_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="surname" name="surname" placeholder="Last Name">
                      <p id="surname_error"></p>
                    </div>
                  </div>
                  
                </div>

                <div class="row">

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                      <p id="email_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      <p id="password_error"></p>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="D.O.B.">
                      <p id="date_of_birth_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="position_in_company" name="position_in_company" placeholder="Position in Company">
                      <p id="position_in_company_error"></p>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6 form-parts">

                    <div class="form-group">
                      <input type="text" class="form-control" id="website_url" name="website_url" placeholder="Website URL">
                      <p id="website_url_error"></p>
                    </div>
                  </div>

                   <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="address" name="address" placeholder="address">
                      <p id="address_error"></p>
                    </div>
                  </div>

                  </div>

                </div>

                <div class="row">

                  <div class="col-md-6 form-parts">
                   <div class="form-group">
                   <select class="form-control" id="country" name="country" >
                   <option value="">Select the Country</option>
                    {% if country_info %}   
                      
                          {% for i in country_info %}
                          <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    <p id="country_error"></p>
                    </div>
                  </div> 
                 

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Contact Number">
                      <p id="phone_number_error"></p>
                    </div>
                  </div>

                </div>

                

                <div class="row">

                <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="company_registration_number" name="company_registration_number" placeholder="Company Registration Number">
                      <p id="phone_number_error"></p>
                    </div>
                  </div>


                <div class="col-md-6 form-parts">
                    <div class="form-group">
                    <select class="form-control" id="skills_interested" name="skills_interested" >
                      <option value="">Select the Skills Interested</option>
                    {% if skill_info %}
                      {% for i in skill_info %}
                      
                          <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    <p id="skills_interested_error"></p>
                    </div>
                  </div>

                </div>

                <div class="row">

                <div class="col-md-6 form-parts">
                    <div class="form-group">
                    <select class="form-control" id="industry_interested" name="industry_interested" >
                    <option value="">Select the Industry Interested</option>
                    {% if industry_info %}
                      
                          {% for i in industry_info %}
                          <option value="{{ i.id }}">{{ i.name }}</option>
                          {% endfor %}
                      </select>
                      {% endif %}
                      <p id="industry_interested_error"></p>
                    </div>
                  </div>

                </div>


                <button type="button" class="btn btn-yellow" id="employee_sign_up_btn">Submit</button>
                <div class="forgot-pass">      
                    <p>Already Registered ? <a href="{% url 'mysite:login' %}">Login Here</a></p>
                </div>
              </form>

        </div>

    </div>
  </div>
</section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'mysite/js/existing_employee_register.js' %}"></script>

</body>
</html>


