{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teen TechPreneur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
</head>
<body>
<section class="login-box">
  <div class="left-part">
    <div class="left-inner">
        <div class="top-logo">
            <a class="" href="#">
                <img src="{% static 'mysite/images/footer-logo.png' %}">
            </a>
        </div>
        <h1 class="hdg">Register as Future Students</h1>
        <p class="des">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus</p>
        <img class="info-img" src="{% static 'mysite/images/student.png' %}" />
    </div>
  </div>

  <div class="right-part">
    <div class="right-inner">
        <div class="top-logo">
            <a class="" href="#">
                <img src="{% static 'mysite/images/logo.png' %}">
            </a>
        </div>

        <div class="signup-form">

            <form role="form" method="POST" action="{% url 'mysite:student_registration' %}">{% csrf_token %}

                <div class="row">
                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name">
                      <p id="first_name_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" id="surname" name="surname" class="form-control" placeholder="Last Name">
                      <p id="surname_error"></p>
                    </div>
                  </div>
                </div>



                <div class="row">
                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" min="1959-01-01" max="2000-12-31" placeholder="Date.Of.Birth.">
                      <p id="date_of_birth_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="email" id="email" name="email" class="form-control" placeholder="Contact Email">
                      <p id="email_error"></p>
                    </div>
                  </div>
                </div>



                 <div class="row">
                  <div class="col-md-6 form-parts">
                  <div class="form-group">
                  <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                  <p id="address_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="number" min="0" class="form-control" id="pin_code" name="pin_code" placeholder="Pin Code">
                      <p id="pin_code_error"></p>
                    </div>
                  </div>

                </div>


                <div class="row">
                  <div class="col-md-6 form-parts">
                  <div class="form-group">
                <input type="text" class="form-control" id="highest_degree_obtained" name="highest_degree_obtained" placeholder="Highest Degree Obtained">
                  <p id="highest_degree_obtained_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                    <select class="form-control" id="subject_interested" name="subject_interested" >
                    <option value="">Select Subject Interested</option>
                    {% if subject_info %}
                      {% for i in subject_info %}                      
                          <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    <p id="subject_interested_error"></p>
                    </div>
                  </div>

                </div>


                <div class="row">
                  
                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="grades_obtained" name="grades_obtained" placeholder="Grades Obtained">
                      <p id="grades_obtained_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="text" class="form-control" id="max_grades" name="max_grades" placeholder="Max Grade">
                      <p id="max_grades_error"></p>
                    </div>
                  </div>
                </div>


                 <div class="row">

                  <div class="col-md-6 form-parts">
                    <div class="form-group">
                      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                      <p id="password_error"></p>
                    </div>
                  </div>

                  <div class="col-md-6 form-parts">
                   <div class="form-group">
                   <select class="form-control" id="country" name="country" >
                   <option value="">Select Country</option>
                    {% if country_info %}                         
                          {% for i in country_info %}
                          <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                      </select>
                    {% endif %}
                    <p id="country_error"></p>
                    </div>
                </div>       

                <button type="button" class="btn btn-yellow"  id="future_student_sign_up_btn" >Submit</button>
                 <div class="forgot-pass">      
                <p>Already Registered ? <a href="{% url 'mysite:login' %}">Login Here</a></p>
                </div>
              </form>
        </div>

    </div>
  </div>
</section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'mysite/js/future_register.js' %}"></script>

</body>
</html>


