{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teen TechPreneur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
</head>
<body>

<section class="home-banner">
  <div class="top-nav" >
    <div class="container">
        <nav class="navbar navbar-expand-md">
          <a class="navbar-brand" href="#">
            <img src="{% static 'mysite/images/logo.png' %}" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">How it works</a>
              </li>    
              <li class="nav-item">
                <a class="btn-nav" href="{% url 'mysite:login' %}">Login</a>
              </li> 
              <li class="nav-item">
                <a class="btn-nav-orange" href="#register">Register</a>
              </li>       
            </ul>
          </div>  
        </nav>
    </div>
  </div>

  <div class="banner-inner">
    <div class="container">
      <div class="row">
        <div class="col-6 left-banner">
          <h2 class="hdg">Bringing together</h2>
          <h3 class="sb-hdg">talented Students, Academics, Entrepreneurs and Employers.</h3>
          <p class="des">We create new and exciting opportunities</p>
          <button type="button" class="btn btn-white">START NOW!</button>
        </div>

        <div class="col-6 right-banner">
            <div class="inner">
              <img class="pc" src="{% static 'mysite/images/video.png' %}" />
              <img class="icon" src="{% static 'mysite/images/play-icon.png' %}" />
            </div>
        </div>

      </div>
    </div>
  </div>

</section>


<section class="make-money">
  <div class="container" id="register">
    <div class="row">
      <div class="col-12">
          <h3 class="sb-hdg">Your Search Ends Here</h3>
          <h1 class="hdg">LEARN. HAVE FUN. MAKE MONEY. INNOVATE</h1>
          <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus lacinia eros, ut ullamcorper libero imperdiet ac. Sed a porta mauris, pulvinar scelerisque ex. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3 parts">
          <a href="{% url 'mysite:student_registration' %}" class="inner">
              <img src="{% static 'mysite/images/student.png' %}" />
              <p class="dtl">Are you a <br />Existing Student?</p>
          </a>
      </div>

        <div class="col-12 col-md-3 parts">
          <a href="{% url 'mysite:future_registration' %}" class="inner">
              <img src="{% static 'mysite/images/student.png' %}" />
              <p class="dtl">Are you a <br />Future Student?</p>
          </a>
      </div>

      <div class="col-12 col-md-3 parts">
          <a href="{% url 'mysite:teacher_registration' %}" class="inner">
              <img src="{% static 'mysite/images/professor.png' %}" />
              <p class="dtl">Are you a <br />University Professor?</p>
          </a>
      </div>

      <div class="col-12 col-md-3 parts">
          <a href="{% url 'mysite:existing_employee_registration' %}" class="inner">
              <img src="{% static 'mysite/images/entrepreneur.png' %}" />
              <p class="dtl">Are you a <br />Exisitng Employee?</p>
          </a>
      </div>

      <div class="col-12 col-md-3 parts">
          <a href="{% url 'mysite:employee_registration' %}" class="inner">
              <img src="{% static 'mysite/images/employer.png' %}" />
              <p class="dtl">Are you a <br />Employer?</p>
          </a>
      </div>

    </div>

  </div>
</section>


<section class="how-it-works">
  <div class="container">

    <div class="row">
      <div class="col-12">
          <h3 class="sb-hdg">Lorum ispu doler smit</h3>
          <h2 class="hdg">How it Works</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-4 parts">
        <div class="inner">
            <div class="top-no">
              <p class="no">01</p>
            </div>
            <div class="btm-des">
                <h3 class="box-hdg">Register</h3>
                <p class="des">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus</p>
            </div>
        </div>
      </div>

      <div class="col-4 parts">
        <div class="inner">
            <div class="top-no">
              <p class="no">02</p>
            </div>
            <div class="btm-des">
                <h3 class="box-hdg">Register</h3>
                <p class="des">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus</p>
            </div>
        </div>
      </div>

      <div class="col-4 parts">
        <div class="inner">
            <div class="top-no">
              <p class="no">03</p>
            </div>
            <div class="btm-des">
                <h3 class="box-hdg">Register</h3>
                <p class="des">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. Sed maximus</p>
            </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="know-more">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h3 class="sb-hdg">Your Search Ends Here</h3>
          <h2 class="hdg">WANT TO KNOW MORE?</h2>
          <div>
            <button type="button" class="btn btn-yellow">CONTACT US</button>
            <button type="button" class="btn btn-purple">REGISTER NOW</button>
          </div>
      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-5 left-part">
        <a href="">
            <img src="{% static 'mysite/images/footer-logo.png' %}" />
        </a>
      </div>

      <div class="col-7 right-part">
          <h2 class="hdg">Courses we offer</h2>
          <ul class="footer-list">
            <li><a href="">App Development</a></li> 
            <li><a href="">Graphic Design</a></li> 
            <li><a href="">Video Streaming</a></li> 
            <li><a href="">Social Media</a></li> 
            <li><a href="">3D Animation</a></li> 
            <li><a href="">Hacking</a></li> 
          </ul>
      </div>

    </div>
  </div>
</footer>

<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <p>&copy; 2019 teentechpreneur.com</p>
      </div>
    </div>
  </div>
</section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>

</body>
</html>


