{% extends 'mysite/future-dasboard/future-main.html' %}
{% load static %}
{% block content %}

        <div class="wrapper-data">
          <div class="row">
            <div class="col-12 left-data">
              <div class="post-box">
                  <div class="profile-inner">
                      <div class="row">
                        <div class="col-sm-4 profile-left">
                            <div class="profile-pic">
                                <img src="{% static 'mysite/images/avatar.png' %}" />
                                <!-- <div class="upload">
                                  <i class="fas fa-camera"></i>
                                </div> -->
                            </div>
                        </div>
                        {% if user_info %}
                        <div class="col-sm-8 profile-right">
                            <div class="name-dtl">
                              <h1 class="name">{{ user_info.first_name }}  {{ user_info.surname }}</h1>
                              <p class="place">Future Student</p>
                              <!-- <a href="{% url 'mysite:future-edit-profile'%}" class="btn btn-sm-dark"><i class="fas fa-edit"></i> Edit</a> -->
                            </div>

                            <div class="contact-dtl">
                              <h1 class="hdg">contact information</h1>
                              <div class="row">
                                <div class="col-5 left-name">Email</div>
                                <div class="col-7 rgt-dtl">{{ user_info.email }}</div>
                              </div>

                              <div class="row">
                                <div class="col-5 left-name">Address</div>
                                <div class="col-7 rgt-dtl">
                                    <p>{{ user_info.address }}</p>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-5 left-name">Subjects interested in </div>
                                <div class="col-7 rgt-dtl"><span class="badge badge-info">{{ user_info.subject_interested.name }}</span></div>
                              </div>

                              <div class="row">
                                <div class="col-5 left-name">Preferred Region/Country </div>
                                <div class="col-7 rgt-dtl"><p>{{ user_info.country.name }}</p></div>
                              </div>

                              <div class="row">
                                <div class="col-5 left-name">Highest Degree obtained of expected grades</div>
                                <div class="col-7 rgt-dtl"><p>{{ user_info.highest_degree_obtained }}</p></div>
                              </div>

                            </div>

                            <div class="contact-dtl">
                              <h1 class="hdg">basic information</h1>
                              <div class="row">
                                <div class="col-5 left-name">D.O.B.</div>
                                <div class="col-7 rgt-dtl"><p>{{ user_info.date_of_birth }}</p></div>
                              </div>

                          <!--     <div class="row">
                                <div class="col-5 left-name">Gender</div>
                                <div class="col-7 rgt-dtl">
                                    <p>Male</p>
                                </div>
                              </div> -->

                            </div>

                        {% endif %}


                        </div>
                      </div>
                  </div>
              </div>



            </div>

          </div>
        </div>



    </div>

    


  </div>

</section>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>

</body>
</html>
{% endblock %}

